<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/torneo/name" method="post">
            <input placeholder="Nombre del torneo"  name="name" >
            <button>Ir!</button>
        </form>
</body>
</html>