html {
    min-height: 100%;
    min-width: 100%;
    position: relative;
}

header {
    background: #0029fa;
    color: #ffffff;
    height: 110px;
    left: 0;
    top: 0;
    right: 0;
}

.container-fluid {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 3fr));
    grid-gap: 10px;
    max-width: 100%;
}
body {

    text-align: center;
    height: 700px;
}

footer {
    background: gray;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.container-fluid {
    justify-items: center;
    align-items: center;
}

.person {
    align-content: center;
    text-align: center;
    height: 200px;
    border: 1px solid black;
}
.photo {
    margin-left: 28px;
    margin-top:  10px;
    background: rgb(114, 114, 114);
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.cuartos {
    height: 100%;
    width: 60%;
}

.cuartos-a {
    grid-column: 1 ;
    grid-row: 5;
}

.cuartos-b {
    grid-column: 5;
    grid-row: 5;
}
.semi-final {
    height: 250px;
    width: 160px;
}

.semi-final-b {
    grid-column: 2;
    grid-row: 5;
}

.semi-final-a {
    grid-column: 4;
    grid-row: 5;
}

.final {
    grid-column: 3;
    grid-row: 5;
    height: 180px;
    width: 160px;
}


